<ion-header>
  <ion-navbar>
    <ion-title>
      Terrán News
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor="let news of newsList" (click)="showNews(news.id)">

    <div class="image-container">
      <img *ngIf="news.featured_image" src="{{this.imgUrl + news.featured_image}}"/>
      <img *ngIf="!news.featured_image" src="assets/imgs/logo.png">
    </div>

    <div class="details">
      <small>{{news.user.name}}</small>
      <small style="float: right;">{{news.created_at}}</small>
    </div>

    <ion-card-content>
      <ion-card-title>
        {{news.title}}
      </ion-card-title>
      
      <p>
        {{news.excerpt}}
      </p>
    </ion-card-content>
  
  </ion-card>

</ion-content>
